.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4bade8;
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
}   
.lista {
    float: left; 
    border-radius: 10px;
}    
.lista a{
    display: block;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
}    
.lista a:hover{
    color: #FFF;
    background-color: #525e90;
    border-radius: 10px;
}   
article{
    padding: 16px;
    margin-top:30px;
    height: 1500px;
    font-size: 12px;
    width: 500px;
    margin: 0 auto;
}
.active{
    background-color: #4CAF50;
}
h1{
    font-size: 30px;
}
.tabela{
    width: 410px;
    padding: 30px;
    border:1px solid #ccc;
}
.formulario{
    width: 350px;
    padding: 30px;
    border:1px solid #ccc;
}
.formulario p{
    width: 100%;
}
.field{
    width: 100%;
    margin: 15px 0;
}
.field label{
    padding-left: 10px;
    display: inline;
    width: 150px;
}
input[type=text],
input[type=email]{
    width: 100px;
    padding-left: 10px;
    height: 18px;
    line-height: 30px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}
textarea{
    width: 100%;
    line-height: 10px;
    padding: 10px;
    height: 90px;
    resize: none;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}
input[placeholder]{
    font-size: 12px;
}
.button{
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    outline: none;
    background-color: #4bade8;
    color: #fff;
    font-size: 12px;
    box-shadow: 0 6px #999;
    cursor: pointer;
}
.button:hover{
    background-color: #525e90;
}
.button:active{
    background-color: #525e90;
    box-shadow: 0 2px #999;
    transform: translateY(2px);
}
